/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #94e7ff;
}



article {
  width: 600px; /* Añadido para que los artículos ocupen el 50% del ancho del contenedor, con espacio entre ellos */
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  text-align: center;
}

